__Задание 1__

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):

zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].

Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [1]:
import numpy as np
import pandas as pd

In [2]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])
zp.size, ks.size

(10, 10)

Формула ковариации случайных величин $X$ и $Y$:
$$\operatorname{cov}(X, Y) = M\left( (X - M(X)) (Y - M(Y)) \right).$$

In [3]:
X = zp
Y = ks

MX = X.mean()
MY = Y.mean()

cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov

10175.37777777778

In [4]:
np_cov = np.cov(X, Y, ddof=1)
np_cov

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

коэффициент корреляции Пирсона
$$r_{XY} = \dfrac{\sigma_{XY}}{\sigma_X \cdot \sigma_Y}$$

In [5]:
corr = cov / (X.std(ddof=1) * Y.std(ddof=1))
corr

0.8874900920739164

In [6]:
zp_ks = pd.DataFrame({"Zp": X, "Ks": Y})
zp_ks.head(3)

    Zp   Ks
0   35  401
1   45  574
2  190  874

In [7]:
zp_ks.corr()

         Zp       Ks
Zp  1.00000  0.88749
Ks  0.88749  1.00000


__Задание 2__

Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [8]:
from scipy import stats

In [9]:
student_iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
p = 0.95

In [10]:
X_ = student_iq.mean()
sigma_2 = student_iq.std(ddof=1)
X_, sigma_2

(118.1, 10.54566788359614)

Найдем доверительный интревал по критерию Стьюдента
$$P \left( \overline{X} + t_{\alpha / 2, \: n - 1} \cdot \dfrac{\sigma_X}{\sqrt{n}} \leq \mu \leq \overline{X} + t_{1 - \alpha / 2, \: n - 1} \cdot \dfrac{\sigma_X}{\sqrt{n}} \right) = p$$

In [11]:
alpha = 1 - p
n = student_iq.size

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [12]:
(X_ + t1 * sigma_2 / np.sqrt(n), X_ + t2 * sigma_2 / np.sqrt(n))

(110.55608365158724, 125.64391634841274)

__Задание 3__

Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.

In [13]:
D = 25
n = 27
X_ = 174.2
p = 0.95
alpha = 1 - p
sigma = np.sqrt(D)

In [14]:
t1 = stats.norm.ppf(alpha / 2)
t2 = stats.norm.ppf(1 - alpha / 2)

t1, t2

(-1.959963984540054, 1.959963984540054)

In [15]:
(X_ + t1 * sigma / np.sqrt(n), X_ + t2 * sigma / np.sqrt(n))

(172.3140237765397, 176.08597622346028)